target
Ico*
project/target/config-classes
.DS_Store
.ensime
.ensime_session
.ensime_lucene
BlackQuill.sublime-project
BlackQuill.sublime-workspace
.history
.project
.classpath
.cache
.settings
BlackQuill
